<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\Logs\internal\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<target name="log" xsi:type="File" fileName="${basedir}\Logs\${shortdate}\Logs\log.json"
                archiveNumbering="DateAndSequence" archiveAboveSize="1048576" archiveDateFormat="yyyy-MM-dd"
                archiveFileName="${basedir}\Logs\${shortdate}\Logs\API.{#}.json" header="[">
			<layout xsi:type='CompoundLayout'>
				<layout xsi:type="JsonLayout">
					<attribute name="time" layout="${longdate}"/>
					<attribute name="level" layout="${uppercase:${level}}(${logger})"/>
					<attribute name="url" layout="${aspnet-request-url}"/>
					<attribute name="actionName" layout="${aspnet-mvc-action}"/>
					<attribute name="ServiceName" layout="${event-properties:ServiceName}"/>
					<attribute name="RequestId" layout="${event-properties:RequestId}"/>
					<attribute name="RequestBody" layout="${event-properties:RequestBody}"/>
					<attribute name="Respnose" layout="${event-properties:Response}"/>
					<attribute name="ExternalURL" layout="${event-properties:ExternalURL}"/>
					<attribute name="Message" layout="${message}"/>
				</layout>
				<layout xsi:type="SimpleLayout" text=","/>
			</layout>
		</target>

		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->

		<target name="ErrorLog" xsi:type="File" fileName="${basedir}\Logs\${shortdate}\Exceptions\Errors.json"
                archiveNumbering="DateAndSequence" archiveAboveSize="20971520" archiveDateFormat="yyyy-MM-dd"
                archiveFileName="${basedir}\Logs\${shortdate}\Exceptions\API.{#}.json" header="[">
			<layout xsi:type='CompoundLayout'>
				<layout xsi:type="JsonLayout">
					<attribute name="time" layout="${longdate}"/>
					<attribute name="level" layout="${uppercase:${level}}(${logger})"/>
					<attribute name="url" layout="${aspnet-request-url}"/>
					<attribute name="actionName" layout="${aspnet-mvc-action}"/>
					<attribute name="ExceptionType" layout="${exception:format=Type}"/>
					<attribute name="ExceptionMessage" layout="${exception:format=Message}"/>
					<attribute name="StackTrace" layout="${exception:format=StackTrace}"/>
					<attribute name="Message" layout="${message}"/>
					<attribute name="ExternalURL" layout="${event-properties:ExternalURL}"/>
					<attribute name="RequestBody" layout="${event-properties:RequestBody}"/>
					<attribute name="Response" layout="${event-properties:Response}"/>
				</layout>
				<layout xsi:type="SimpleLayout" text=","/>
			</layout>
		</target>

		<!-- Loggers for Service Consumer -->


		<target name="ServiceLog" xsi:type="File" fileName="${basedir}\Logs\${shortdate}\Logs\${var:logName}log.json"
                archiveNumbering="DateAndSequence" archiveAboveSize="1048576" archiveDateFormat="yyyy-MM-dd"
                archiveFileName="${basedir}\Logs\${shortdate}\Logs\${var:logName}Log.{#}.json" header="[">
			<layout xsi:type='CompoundLayout'>
				<layout xsi:type="JsonLayout">
					<attribute name="time" layout="${longdate}"/>
					<attribute name="level" layout="${uppercase:${level}}(${logger})"/>
					<attribute name="url" layout="${aspnet-request-url}"/>
					<attribute name="actionName" layout="${aspnet-mvc-action}"/>
					<attribute name="ServiceName" layout="${event-properties:ServiceName}"/>
					<attribute name="RequestId" layout="${event-properties:RequestId}"/>
					<attribute name="RequestBody" layout="${event-properties:RequestBody}"/>
					<attribute name="Respnose" layout="${event-properties:Response}"/>
					<attribute name="ExternalURL" layout="${event-properties:ExternalURL}"/>
					<attribute name="Message" layout="${message}"/>
				</layout>
				<layout xsi:type="SimpleLayout" text=","/>
			</layout>
		</target>

		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->

		<target name="ServiceErrorLog" xsi:type="File"
                fileName="${basedir}\Logs\${shortdate}\Exceptions\${var:logName}Errors.json"
                archiveNumbering="DateAndSequence" archiveAboveSize="20971520" archiveDateFormat="yyyy-MM-dd"
                archiveFileName="${basedir}\Logs\${shortdate}\Exceptions\${var:logName}Errors.{#}.json" header="[">
			<layout xsi:type='CompoundLayout'>
				<layout xsi:type="JsonLayout">
					<attribute name="time" layout="${longdate}"/>
					<attribute name="level" layout="${uppercase:${level}}(${logger})"/>
					<attribute name="url" layout="${aspnet-request-url}"/>
					<attribute name="actionName" layout="${aspnet-mvc-action}"/>
					<attribute name="Message" layout="${message}"/>
					<attribute name="ExternalURL" layout="${event-properties:ExternalURL}"/>
					<attribute name="RequestBody" layout="${event-properties:RequestBody}"/>
					<attribute name="Response" layout="${event-properties:Response}"/>
				</layout>
				<layout xsi:type="SimpleLayout" text=","/>
			</layout>
		</target>

	</targets>


	<!-- rules to map from logger name to target -->
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<!--<logger name="Microsoft.*" maxlevel="Info" final="true" /> -->
		<!-- BlackHole without writeTo -->
		<logger name="ServiceLogger" level="Info" writeTo="ServiceLog"/>
		<logger name="ServiceLoggerError" level="Error" writeTo="ServiceErrorLog"/>"
		<logger name="*" level="Info" writeTo="log"/>
		<logger name="*" level="Error" writeTo="ErrorLog" final="true"/>"
	</rules>
</nlog>